@font-face {
    font-family: 'Roboto';
    src: url(font/Roboto/Roboto-Regular);
}

* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

.kkt {
    font-size: 30px;
    color: rgb(17, 14, 14);
    justify-content: center;
    display: flex;
    margin-bottom: 100px;

}

.kkt img {
    width: auto;
    height: 45px;
    padding-top: 12px;
}

.leggtilimg img {
    width: auto;
    height: 45px;
    padding-top: 12px;
}
.header {
    background-color:rgb(0, 88, 80);
    color: rgb(0, 88, 80);
} 
.kkt2 {
    display: flex;
    margin-left: 1300px;
}

.box1 {
    background-color: #009d4f;
    max-width: 10%;
    color: azure;
    padding: 50px;
    margin-top: 50px;
    margin: 50px;
    border-radius: 5%;
    font-size: 32px;
}

.box {
    display: flex;
    justify-content: center;
    gap: 10rem;
}

.nedebar {
    background-color: #009d4f;
}

.hvavildulåne {
    text-align: center;
    font-size: 40px;
    margin: 10px;

}
.knapp {
    justify-content: center;
    display: flex;
    background-color: #009d4f;
    padding: 10px;
}

.footer {
    background-color:#009d4f;
    width: 100%;
    position: fixed;
    bottom: 0;
    height: 180px;
    color: aliceblue;
    font-size: 20px;
}

.parrent div{
    text-align: center;
    padding-top: 15px;
}

.footer img {
    max-width: 40px;
}